.App {
  display: flex;
  margin-top:100px;
  width:90%;
  border:1px solid pink;
  height:50px;
  align-items: center;
  justify-content: center;
}

#root{
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drag-icon-wrapper{
  position: absolute;
  left: 0;
  margin-left: 10px;
}

.resize-icon-wrapper{
  position: absolute;
  left: 0;
  margin-right: 10px;
}
